<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="wp81" />
  <package id="Microsoft.Azure.Mobile.Client" version="2.0.1" targetFramework="wp81" />
  <package id="Microsoft.Azure.Mobile.Client.Files" version="1.0.0-beta-2" targetFramework="wp81" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="2.0.1" targetFramework="wp81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp81" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="wp81" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="wp81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp81" />
  <package id="Newtonsoft.Json" version="8.0.1-beta2" targetFramework="wp81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="wp81" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="wp81" />
  <package id="System.Spatial" version="5.6.4" targetFramework="wp81" />
  <package id="WindowsAzure.Messaging.Managed" version="0.1.7.9" targetFramework="wp81" />
  <package id="WindowsAzure.Storage" version="6.1.1-preview" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />
  <package id="Xamarin.Forms" version="2.0.1.6505" targetFramework="wp81" />
</packages>