<!DOCTYPE html>
<html>
<head>
    <title>Contoso Moments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.7.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/config.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/fontello.css" rel="stylesheet" />
    <link href="/css/animation.css" rel="stylesheet" />
    <base href="/"></base>
</head>
<body ng-app="app">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container" ng-controller="navController as navCtrl">
                <div class="navbar-header">
                    <button ng-show="showMenu" type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="img-responsive" src="images/Web-ContosoMomentsLogo.svg">
                    </a>
                </div>

                <div >
                    <ul class="nav navbar-nav navbar-right">


                        <li class="pull-right-sm"  ng-show="showDelImage">
                            <a href="#" ng-click="navCtrl.deleteImageModal()">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-sm hidden-md hidden-lg">Delete Image</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div ng-cloak ng-show="showMenu" class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                    <ul class="nav navbar-nav navbar-right">
                       


                        <li class="pull-right-sm" ng-show="showUpload">
                            <a href="#" ng-click="navCtrl.deleteAlbumModal()">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-sm hidden-md hidden-lg">Delete Image</span>
                            </a>
                        </li>
                        <li class="pull-right-sm" ng-show="showUpload">
                            <a href="#" ng-click="navCtrl.openAlbummModal(true)">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm hidden-md hidden-lg">Edit Album</span>
                            </a>
                        </li>
                        <li class="pull-right-sm" ng-show="showUpload">
                            <a  href="#" ng-click="navCtrl.openUploadModal()">
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                                <span class="hidden-sm hidden-md hidden-lg" >Upload Image</span>
                            </a>
                        </li>
                        
                        
                        <li class="pull-right-sm" ng-show="showCreateAlbum">
                            <a  href="#" ng-click="navCtrl.openAlbummModal()">
                                <span class="glyphicon glyphicon-plus" ></span>
                                <span class="hidden-sm hidden-md hidden-lg">Create Album</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="container" ng-controller="titleController as titleCtrl">

            <div ng-show="userEmail" class="page-header">
                <span class="glyphicon glyphicon-user">
                </span>
                <span ng-bind="userEmail" ></span>
                <h4 ng-show="curAlbum.album" ng-bind="curAlbum.album.albumName"></h4>
            </div>
            
        </div>
    </header>
    <route-loader></route-loader>
    <div class="container" ui-view></div>

    <script src="/scripts/ui-bootstrap-custom/ui-bootstrap-custom-tpls-0.14.3.js"> </script>
    <script src="/scripts/azure-blob-upload.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers.js"></script>
    <script src="/scripts/services.js"></script>
    <script src="/scripts/directives.js"></script>

<script type="text/ng-template" id="createAlbum.html">
        <div class="modal-header">
            <h4 class="modal-title" ng-bind="::crtAlbumCtrl.modalTitle">Create Album</h4>
        </div>
        <div class="modal-body">
            <div class="has-feedback" ng-hide="uploadCtrl.showProgress()">
                <input type="text" class="form-control" ng-model="crtAlbumCtrl.currentAlbum.albumName" ng-disabled="crtAlbumCtrl.postingAlbum" placeholder="Album name" />
                <span ng-show="crtAlbumCtrl.postingAlbum" class="icon-spin3 animate-spin form-control-feedback"></span>
            </div>
        </div>
        <div class="modal-footer" ng-hide="uploadCtrl.showProgress()">
            <button class="btn btn-default" type="button" ng-click="crtAlbumCtrl.cancel()" ng-disabled="crtAlbumCtrl.postingAlbum">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="crtAlbumCtrl.post()" ng-disabled="crtAlbumCtrl.postingAlbum">Save</button>
        </div>
    </script>

<script type="text/ng-template" id="deleteImage.html">
        <div class="modal-header">
            <h4 class="modal-title">Delete Image</h4>
        </div>
        <div class="modal-body">
            <div class="has-feedback">
                <h4>Are you sure you want to delete this Image?</h4>
                
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="imgCtrl.cancel()" >Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="imgCtrl.delete()">Delete</button>
        </div>
    </script>


<script type="text/ng-template" id="uploadModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Image upload</h4>
        </div>
        <div class="modal-body">
            <div ng-hide="uploadCtrl.showProgress()">
                <input type="file" file-change="uploadCtrl.onFileChange(files,event)" />
            </div>
            <div class="row" ng-show="uploadCtrl.showProgress()">
                <div class="col-xs-12 text-center">
                    <h4 ng-show="!hasError && progress>=0 && progress<100" >Uploading</h4>
                    <h4 ng-show="!hasError && progress>=100">Upload complete</h4>
                    <h4 ng-show="hasError" class="text-danger" >Upload Error</h4>
                    <uib-progressbar value="progress" type="progressType" animate="!hasError" ></uib-progressbar>
                </div>
            </div>
        </div>
        <div class="modal-footer" ng-hide="uploadCtrl.showProgress() && !hasError">
            <button class="btn btn-default" type="button" ng-click="uploadCtrl.cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-hide="hasError" ng-click="uploadCtrl.upload()">Upload</button>
            <button class="btn btn-primary" type="button" ng-show="hasError" ng-click="uploadCtrl.reset()">Try again</button>
        </div>
    </script>
    <script type="text/ng-template" id="deleteAlbum.html">  
        <div class="modal-body">
            <div class="text-center" >
               <b> {{ delAlbumCtrl.deleteMessage  }} </b>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="delAlbumCtrl.cancel()" ng-disabled="delAlbumCtrl.deletingAlbum">Cancel</button>
            <button class="btn btn-primary" type="button" ng-show="delAlbumCtrl.enableDelete" ng-click="delAlbumCtrl.deleteAlbum()" ng-disabled="delAlbumCtrl.deletingAlbum">Delete</button>
        </div>
    </script>
</body>

</html>
