<div class="row image-view" >
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 min-height ">
            <span class="icon-heart icon-rounded"></span>
            <img class="img-full img-border" ng-src="{{imageCtrl.getCurrentImageURL('lg')}}" alt='{{imageCtrl.currentImage.name}}'  />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <ul class="links-list">
            <li class="icon-link" ><a ng-href="{{imageCtrl.getCurrentImageURL('lg')}}" target="_blank" >Large Image</a></li>
            <li class="icon-link" ><a ng-href="{{imageCtrl.getCurrentImageURL('md')}}" target="_blank" >Medium Image</a></li>
            <li class="icon-link" ><a ng-href="{{imageCtrl.getCurrentImageURL('sm')}}" target="_blank" >Small Image</a></li>
            <li class="icon-link"><a ng-href="{{imageCtrl.getCurrentImageURL('xs')}}" target="_blank" >Extra small Image</a></li>
        </ul>
    </div>
</div>
