<div class="row albums-view">
    <center>
        <p style="text-align:left;margin-top:20px;">
            This site and service are hosted for demo purposes only. As such, images and albums can be deleted at any time, at the discretion of the service owner. All images and data are stored in a US data center. If an image or album is deleted (either by the service owner or a user) the data is deleted immediately and cannot be restored.
        </p>
        <p style="text-align:left">
            On the hosted service using the web client, images that you upload to the public album are hidden unless you are logged in to Azure Active Directory with an @microsoft account.
        </p>
        <p style="text-align:left">
            To have full control over the data storage region and the service itself, you should deploy the service to your own Azure subscription. To learn more, see <a href="https://aka.ms/ContosoMomentsCode">https://aka.ms/ContosoMomentsCode</a>. You can then point the mobile apps to your own service in the app settings page.
        </p>
    </center>
</div>