@{
    ViewData["Title"] = "Contoso Moments";
}

<script lang="ja" type="text/javascript">

    var baseUrl = 'http://localhost:21591'; //window.location.href;
    //var baseUrl = "http://contosomomentswebapi.azurewebsites.net";

    function likePhoto(imageId) {
        $.ajax({
            url: baseUrl + 'api/like?imageId=' + imageId,
            type: 'POST',
            //enctype: 'multipart/form-data',
            //data: formData,
            async: false,
            success: function (data) {
                alert("Success")
            },
            failure: function (data) {
                alert("Failure")
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    $(document).ready(function () {
        var pageCount = 1;

        // Display initial images on load
        GetImages();

        $("#buttonGet").click(function () {
            GetImages();
        });

        function GetImages() {
            $.ajax({
                url: '/Home/GetImages',
                data: { page: pageCount },
                success: function (response) {
                    ParseResponseToTable(response);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Error: " + errorThrown + ", " + textStatus);
                }
            });
        }

        function ParseResponseToTable(response) {
            pageCount++;

            $(function () {

                var count = 0;
                var $tr = $('<tr>');
                $.each(response, function (i, item) {
                    count++;

                    if (count > 5 && count % 5 == 1)
                        $tr = $('<tr>');

                    $tr.append(
                        $('<td>').append(
                            "<img src=\"" + item.ImagePath.xs + "\" />"
                            + "<a href=\"" + item.ImagePath.lg + "\">Large</a>" + "  |  "
                            + "<a href=\"" + item.ImagePath.md + "\">Medium</a>" + "  |  "
                            + "<a href=\"" + item.ImagePath.sm + "\">Small</a>" + "  |  "
                            + '<input type="button" value="like" onclick="javascript:likePhoto(\'' + item.ImageId + '\')"/>'
                            )
                    );

                    if (count % 5 == 0 || count == response.length - 1) {
                        $("#imagesTable").append($tr);
                        console.log($("#imagesTable")[0].innerHTML);
                    }
                });

                if (count % 5 != 0) {
                    $("#buttonGet").hide();
                }
            });
        }

        $('input[type = "file"]').change(function () {
            var file = this.files[0];
            var name = file.name;
            var size = file.size;
            var type = file.type;
        });

        $("form#data").submit(function () {
            var formData = new FormData();
            formData.append("image", $('input[type = "file"]')[0].files[0]);

            $.ajax({
                url: "home/PostImage", //baseUrl + 'api/Image',
                type: 'POST',
                //enctype: 'multipart/form-data',
                data: { data: formData },
                //async: true,
                success: function (data) {
                    $('#buttonGet').hide();
                },
                failure: function (data) {
                    alert("Failure")
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });

</script>

<div>
    <form id="data" method="post" enctype="multipart/form-data">
        <input id="filePicker" type="file" name="filePicker" />
        <input id="upload" type="submit" value="Upload" />
    </form>

    <div class="table-responsive">
        <table id="imagesTable" class="table">
            @*<tr></tr>*@
        </table>
    </div>

    <div align="center">
        <br /><br />
        <input id="buttonGet" type="button" value="Get more images" />
    </div>
</div>