@{
    ViewData["Title"] = "Contoso Moments";    
}

<script lang="ja" type="text/javascript">

    //var baseUrl = 'http://localhost:21591'; // "http://contosomomentswebapi.azurewebsites.net"
    var baseUrl = "http://contosomomentswebapi.azurewebsites.net";

    $(document).ready(function () {
        var pageCount = 2;

        // Display initial images on load
        GetImages();

        $("#buttonGet").click(function () {
            GetImages();
        });

        function GetImages()
        {
            var path = $(this).attr("href");

            var requestUrl = baseUrl + '/api/image' + "?page=" + pageCount;

            $.ajax({
                url: requestUrl,
                type: 'GET',
                datatype: 'json',
                success: function (response) {
                    ParseResponseToTable(response);
                },
                error: function (xhr, textStatus, errorThrown) {
                    //console.log('Error in Operation');
                    console.log(path, arguments);
                    alert("Error: " + errorThrown + ", " + textStatus);
                }
            });
        }

        function likePhoto(imageId) {
            $.ajax({
                url: baseUrl + '/api/like?imageId=' + imgId,
                type: 'POST',
                //enctype: 'multipart/form-data',
                //data: formData,
                async: false,
                success: function (data) {
                    alert("Success")
                },
                failure: function (data) {
                    alert("Failure")
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }

        function ParseResponseToTable(response) {
            pageCount++;

            $(function (response) {

                var count = -1;
                var $tr = $('<tr>');
                $.each(response, function (i, item) {
                    count++;

                    $tr.append(
                        $('<td>').append(
                            "<img src=\"" + item.ImagePath.xs + "\" />" 
                            + "<a href=\"" + item.ImagePath.lg + "\">Large</a>" + "  |  "
                            + "<a href=\"" + item.ImagePath.md + "\">Medium</a>" + "  |  "
                            + "<a href=\"" + item.ImagePath.sm + "\">Small</a>" + "  |  "
                            // TODO: Fix this as it does not work; click is not occuring
                            + "<input type=\"button\" value=\"like\" onclick=\"likePhoto(\"" + item.ImageId + "\");\"/>"
                            //+ '<a href="javascript:void(0);"' + 'onclick="likePhoto("' + 'test' + '");">like</a>'
                            //+ '<a href="javascript:void(0);">like</a>'
                        )
                    //<div align=\"right\"></div>
                    );

                    if (count % 5 == 0 || count == response.length - 1) {
                        $("#imagesTable").append($tr);
                        console.log($("#imagesTable")[0].innerHTML);
                    }
                });

                if (count < 4)
                {
                    $("#buttonGet").hide();
                }
            });
        }

        

        $('input[type = "file"]').change(function () {
            var file = this.files[0];
            var name = file.name;
            var size = file.size;
            var type = file.type;
        });

        $("form#data").submit(function () {
            var formData = new FormData();
            formData.append("image", $('input[type = "file"]')[0].files[0]);

            $.ajax({
                url: baseUrl + '/api/Image',
                type: 'POST',
                enctype: 'multipart/form-data',
                data: formData,
                async: false,
                success: function (data) {
                    alert("Success")
                },
                failure: function (data) {
                    alert("Failure")
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });

</script>

<div>
    <form id="data" method="post" enctype="multipart/form-data">
        <input id="buttonGet" type="button" value="Get image" />
        <br /><br />
        <input id="filePicker" type="file" name="filePicker" />
        <input id="upload" type="submit" value="Upload" />
    </form>
    <table id="imagesTable" class="table-responsive">
        @*<tr></tr>*@
    </table>
</div>