<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios1" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios1" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="xamarinios1" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="xamarinios1" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios1" />
  <package id="Newtonsoft.Json" version="8.0.1-beta2" targetFramework="xamarinios1" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="xamarinios1" />
  <package id="System.Spatial" version="5.6.4" targetFramework="xamarinios1" />
  <package id="WindowsAzure.MobileServices" version="2.0.0-beta-3" targetFramework="xamarinios1" />
  <package id="WindowsAzure.MobileServices.Files" version="1.0.0-alpha" targetFramework="xamarinios1" />
  <package id="WindowsAzure.MobileServices.SQLiteStore" version="2.0.0-beta-2" targetFramework="xamarinios1" />
  <package id="WindowsAzure.Storage" version="6.1.1-preview" targetFramework="xamarinios1" />
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="xamarinios1" />
</packages>