body{
    padding-top: 50px;
}
div.imgCnt {
    width: 100%;
    height: 40px;
    border: solid 1px black;
    padding: 2px;
}
.navbar{
    margin-bottom: 0;
}
.navbar-default{
    background-color: #8C0A4B;
}
.navbar-brand{
    padding: 8px 8px;
}

.icon-heart{
    color: #8C0A4B;
    font-size: 24px;
    position: absolute;
    bottom: 5px;
    right: 20px;
    cursor:pointer;
}
.icon-rounded{
    text-align: center;
    border-radius: 50%;
    background-color: RGBA(147, 94, 76, 0.5);
} 
a.icon-upload{
    color: white;
    font-size: 20px;    
}

.nav>li>a.icon-upload:focus,
.nav>li>a.icon-upload:hover{
    background-color: transparent;    
}

.galleryRow{
    padding:2px;
}


ul{
    list-style: none;
    padding: 0;
}
.icon-link a{ 
    padding-left: 5px;
}
.img-full{
    width: 100%;
    height: 100%;
}
.img-preview{
    width: 100%;
    height: 11em;
    background-size:cover; 
    overflow: hidden;
    border:solid 1px #e3e3e3;
    border-radius:3px;
}
.load-more{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex; 
    -webkit-justify-content:center;
    -ms-justify-content:center;
    -moz-justify-content:center;
    justify-content: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: coulmn;
    -moz-flex-direction: coulmn;
    flex-direction:column;
    
}
.load-more a{
    color:#8C0A4B;
    font-size:16px;
}
.load-more a:hover{
    text-decoration:none;
}
.load-more .icon-down-circled{
    font-size:40px;
}


      